@use "../../mixin.scss" as mixin;

.input{
    height: 50px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input{
        border: none;
        outline: none;
        width: 100%;
        font-size: 18px;

        &::placeholder{
            color: mixin.$darkColor;
        }
    }
    .send{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        img{
            height: 25px;
            cursor: pointer;
        }

        button{
            border: none;
            padding: 10px 15px;
            color: white ;
            background-color: mixin.$secondaryColor;
            border-radius: 10px;
        }
    }
}